{{> message }}{{> nav }}
{{!-- <a href="/">Home</a> --}}
<div class="user-header-container">
  <div class="user-header user-welcome">
    {{#if theUser}}
      <p>
        Welcome [
        {{#if theUser.firstName}}
          {{theUser.firstName}}
          {{#if theUser.lastName}}
            {{theUser.lastName}}
          {{/if}}
        {{else if theUser.lastName}}
          {{theUser.lastName}}
        {{else}}
          {{theUser.userName}}
        {{/if}}
        ]
      </p>
    {{/if}}
  </div>
  <div class="user-header">
    {{#if theUser}}
      <a href="/user">User Page</a>
    {{else}}
      <a href="/user/create">Create Account</a>
    {{/if}}
  </div>
  <div class="user-header">
    {{#if theUser}}
      <a href="/login?logout=1">Logout</a>
    {{else}}
      <a href="/login">Login</a>
    {{/if}}
  </div>
</div>