{{#if theUser}}
  <p>You can create your own code snippet by clicking <a href="/snips/create">HERE</a>.</p>
{{/if}}
{{#if theSnips}}
  <p class="page-par">These are the found code snippets:</p>
  <table>
    <thead>
      <tr><th>Code Title</th><th>Code Note</th></tr>
    </thead>
    <tbody>
      {{#each theSnips}}
        <tr>
          <td><a class="table-link" href="/snips/{{this._id}}">{{this.snipTitle}}</a></td>
          <td><a class="table-link" href="/snips/{{this._id}}">{{this.snipNote}}</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p class="page-par">There is no code snippets to display yet.</p>
{{/if}}