{{#if theSnip}}
  {{#if thePreventEdit}}
    <div>
  {{else}}
    <form method="POST" action="/snips/edit/{{theSnip._id}}">
  {{/if}}
      <label>Code Creator:<br>
        <input type="text" value="{{theSnip.snipUserID.userName}}" readonly>
      </label>
      <label>
        Code Title:<br>
        <input type="text" name="snipTitle" value="{{theSnip.snipTitle}}" {{#if thePreventEdit}}readonly{{/if}} required>
      </label>
      <label>
        Code Tags:<br>
        <input type="text" name="snipTags" value="{{#each theSnip.snipTags}}{{this}} {{/each}}" {{#if thePreventEdit}}readonly{{/if}}>
      </label>
      <label>
        Code Comment/Note:<br>
        <textarea name="snipNote" rows="5" {{#if thePreventEdit}}readonly{{/if}}>{{theSnip.snipNote}}</textarea>
      </label>
      <label>
        Code:<br>
        <textarea name="snipCode" rows="10" {{#if thePreventEdit}}readonly{{/if}}>{{theSnip.snipCode}}</textarea>
      </label><br><br>
      <input type="submit" {{#if thePreventEdit}}hidden{{/if}} value="Update Code Snippet"><br><br>
      <input type="submit" {{#if thePreventEdit}}hidden{{/if}} formaction="/snips/delete/{{theSnip._id}}" value="Delete Code Snippet">
  {{#if thePreventEdit}}
    </div>
  {{else}}
    </form>
  {{/if}}
{{else}}
  <p class="page-par">The code snippet you are trying to access does not exist. Please try another.</p>
{{/if}}